.hero {

    height: calc(100svh - 60px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}



.hero h2 {
    color: white;
    margin-bottom: 12px;
}

.form {
    /* background: red; */
    padding: 10px;

    width: 60%;
}

.form .fields {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
    color: white;
    border: 2px solid #20bdff;
    border-top-left-radius: 12px;
    height: 50px;
}

.form select {
    color: rgb(250, 250, 250);
    outline: none;
    padding: 10px;
    background: #20bdff;
    width: 100%;
    margin-bottom: 20px;
    padding: 13px;
    border-top-left-radius: 12px;
    border: none;
    cursor: pointer;
}

.form .fields option {
    color: black;
}

.form .fields input {
    color: white !important;
    /* border-left: 2px solid #20bdff; */
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    flex: 1;
    font-size: 17px;
    outline: none;
    letter-spacing: 2px;
    text-overflow: ellipsis;
    background: transparent;
    padding-left: 10px;
}

.form .fields input::placeholder {
    color: lightblue;
    letter-spacing: 0;
}

.form .submitBtn {
    border: 2px solid yellowgreen;
    outline: none;
    padding: 6px;
    width: 100%;
    font-size: 17px;
    overflow: hidden;
    letter-spacing: 1px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: transparent;
    color: white;
    position: relative;
    height: 50px;
    z-index: 1;
}

.form .submitBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    height: 100%;
    background: #20bdff;
    transition: .3s all ease-in;
}

.form .submitBtn:hover::before {
    width: 100%;
}


@media (max-width:600px) {
    .form {
        width: 100%;
        padding: 0;
    }
}

@media (max-width:350px) {
    .form button {
        font-size: 15px;
    }

    .form .fields select {
        font-size: 14px;
    }

    .form .fields input {
        padding-left: 8px;
        font-size: 14px;
        text-align: start;
    }
}