.mainArea{
    max-width: 60%;
    margin: 0 auto;
    height: 100%;
}

.mainArea .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.links .link{
    width: 160px;
}
.links .link a{
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto;
    text-align: center;
    display: block;
    color: #6998e1;
    text-decoration: none;
    position: relative;
    transition: .2s all ease-in;
}
.links .link a::before{
    transition: .3s all ease-in;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: #0ca4b8;
    transform: scaleX(0);
}
.links .link a:hover{
    color: #20bdff;
 }