.mainArea{
    max-width: 60%;
    margin: 0 auto;
    height: 100%;
}

.mainArea .links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.links .link a{
    color: #6998e1;
    text-decoration: none;
    position: relative;
}
.links .link a::before{
    transition: .3s all ease-in;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: #0ca4b8;
    transform: scaleX(0);
}
.links .link a:hover::before{
    transform: scaleX(1);
 }