.main{
    justify-content: space-evenly !important;
}

.searchArea{
    /*background: red;*/
    padding: 10px;
    height: 150px   ;
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
}

.searchArea h3{
    color: whitesmoke;
    text-align: center;
 }

.searchArea input{
    width: 100%;
    border-top-left-radius: 10px;
    outline: none;
    border: 2px solid #0ca4b8;
    padding: 8px;
    background: transparent;
    letter-spacing: 1px;
    color: white;
}
.searchArea input::placeholder{
    color: lightcyan;
    letter-spacing: 1px;
}

.searchArea .subBtn {
    margin-top: 10px;
}

.details {
    width: 100% ;
}
.details table {
    max-width: 100%;
    width: 50%;
    margin: 0 auto;
    border: transparent;
    border-collapse: collapse;
}

.details table th,
.details table td {
    padding: 10px;
    border: 1px solid #78ac19;
    text-align: left;
    color: #0ca4b8;
    font-size: 14px;
}

.details table th {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 90px;
    color: #333;
    border-right: 1px solid black;
}

.details table tr:nth-child(even) > td {
    background: #457fca; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5691c8, #457fca); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}



@media (max-width: 700px) {
    .details table,.searchArea {
        width: 80%;
    }

}

@media (max-width: 500px) {
    .details table,.searchArea {
        width: 100%;
    }
}
